<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <% if (process.env.NODE_ENV === 'production') { %>
    <link rel="stylesheet" type="text/css" href="/dist/all.min.css">
  <% } else { %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <% } %>
  </head>
  <body>
    <div id="content" class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2"></div>
  </body>

<% if (process.env.NODE_ENV === 'production') { %>
  <script type="text/javascript" src="/dist/all.min.js"></script>
<% } else { %>
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/bower_components/react/react.js"></script>
  <script type="text/javascript" src="/bower_components/react/JSXTransformer.js"></script>
  <script type="text/javascript" src="/bower_components/react-router/build/umd/ReactRouter.js"></script>
  <script type="text/javascript" src="/bower_components/marked/marked.min.js"></script>
  <script type="text/jsx" src="/javascripts/index_component.js"></script>
  <script type="text/jsx" src="/javascripts/archives_component.js"></script>
  <script type="text/jsx" src="/javascripts/article_component.js"></script>
  <script type="text/jsx" src="/javascripts/projects_component.js"></script>
  <script type="text/jsx" src="/javascripts/aboutme_component.js"></script>
  <script type="text/jsx" src="/javascripts/blog_routes.js"></script>
<% } %>
</html>
