<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="content"></div>
  </body>
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/react/react.js"></script>
  <script type="text/javascript" src="/bower_components/react/JSXTransformer.js"></script>
  <script type="text/javascript" src="/bower_components/react-router/build/umd/ReactRouter.js"></script>
  <script type="text/javascript" src="/bower_components/marked/marked.min.js"></script>
  <script type="text/jsx" src="/javascripts/index_component.js"></script>
  <script type="text/jsx" src="/javascripts/archives_component.js"></script>
  <script type="text/jsx" src="/javascripts/article_component.js"></script>
  <script type="text/jsx" src="/javascripts/projects_component.js"></script>
  <script type="text/jsx" src="/javascripts/aboutme_component.js"></script>
  <script type="text/jsx" src="/javascripts/blog_routes.js"></script>
</html>
